@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::after, *::before{
box-sizing: border-box;
padding: 0;
margin: 0;
line-height: 1.5;
}

@font-face {
  font-family: "sequel-light";
  src: url("../public/fonts/Sequel-Sans-Light-Head.ttf");
}
@font-face {
  font-family: "sequel-bold";
  src: url("../public/fonts/Sequel-Sans-Book-Head.ttf");
}